*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{

}
section{
    display: flex;
    gap: 1.5rem;
}
.side-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
    padding: 1rem 2rem;
    height: 660px;
    background-color: white;
    border-right: 2px solid rgb(241, 241, 241);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    padding-bottom: 4rem;
    margin-right: .5rem;

    
}
.body{
    display: flex;
    flex-direction: column;
    margin-bottom: 9rem;
    background-color: white;
}
.search{
    padding: .4rem 1rem;
    padding-left: .4rem;
    border-radius: 6px;
    background-color: white;
    border: 2px solid rgb(218, 215, 215);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .3rem;
    overflow: hidden;
    
}
.search input{
    border: none;
    background-color: transparent;

}
.search i{
    color: rgb(202, 201, 201);
}
.top{
display: flex;
justify-content: left;
margin: 1rem;
padding-top: 2rem;

}
.top h2{
    color: blueviolet;
    font-size: 1.3rem;
}
nav{
    margin-top: 1.5rem;
}
ul{
    flex-direction: column;
    display: flex;
    gap: 1rem;
}
a{
    display: flex;
    gap: 2rem;
    
}

a h5{
    display: flex;
    text-align: left;
    color: rgb(128, 123, 123);
}
a i{
    width: 2px;
    color: blueviolet;
    display: flex;
    align-items: center;
    
}
#withdrawal{
    background-color: rgb(159, 88, 224);
    padding: .3rem;
    border-radius: 5px;
    
}
#withdrawal h5{
color: white;

}
#withdrawal i{
color: white;

}

.Setting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
    color: rgb(128, 123, 123);
    padding-top: 5rem;
}

.base-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: .5rem;
    border-top: 2px solid rgb(218, 218, 218);
    padding-top: .7rem;
}
.name-email{
    display: flex;
    gap: .5rem;
}
.image3{
}
.image3 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.moseph h5{
    font-size: .8rem;
}
.moseph p{
    font-size: .6rem;
}
.login{
    display: flex;
    justify-content: start;
}









/* withdrawal request */

.section{

}
.withdrawal-request{
    display: flex;
    flex-direction: column;
    height: 660px;
}
.tag{
    padding: .5rem 1rem;
}
i{
    color: rgb(43, 42, 42);
}

.frame{
    margin: 1rem 1rem;
    border: 5px solid rgb(172, 98, 241);
    
}
.frame-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(240, 239, 239);
    padding: 1rem 1rem;
    
}
.frame-top-left{
    display: flex;
    flex-direction: column;
    gap: .1rem;
}
.frame-top-right button{
    padding: .2rem 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .3rem;
    background-color: transparent;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 6px;
}

.frame-body-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem 1rem;
    border-bottom: 2px solid rgb(241, 239, 239);
    
}
.frame-body-top-left div{
    display: flex;
    gap: .7rem;
    border: 2px solid rgb(230, 227, 227);
    padding: .3rem .3rem;
    font-size: .8rem;
    border-radius: 5px;
display: flex;
align-items: center;
padding-right: .5rem;

}
.all{
    background-color: rgb(228, 226, 226);
    padding: .3rem .6rem;
    border-radius: 5px;
}
.frame-body-top-right{
    display: flex;
    gap: .7rem;
    
}
.frame-search{
    padding: .5rem .5rem;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: .3rem;  
    border: 2px solid rgb(240, 238, 238); 
}
.frame-body-bottom{
    display: flex;
    flex-direction: column;
    
    
}
.request{
display: flex;
padding: 0 1rem;

}
/* .frame-section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(240, 239, 239);
    padding: .5rem 1rem;
    gap: 1rem;
}
.s1 input{
    width: 1.2rem;
    height: 1.2rem;
}
.section1 p{
    font-size: 1rem;
}
.s1{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.s2{
    display: flex;
    gap: 1rem;
}
.s2 button{
    padding: .3rem .5rem;
    border-radius: 50%;
    border: none;
    background-color: rgb(231, 130, 163);
    color:purple;
    font-weight: 700;
}
.s21{
    display: flex;
    flex-direction: column;
}
.s3 button{
    font-weight: 800;
    padding: .2rem .5rem;
    border-radius: 20px;
    border: none;
    background-color: lightgreen;
    color: green;
    display: flex;
    align-items: center;

}
.s4 button{
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(240, 239, 239);
}
.s4 i{
    color: rgb(240, 239, 239);
} */
.frame-base{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.6rem;
    margin-bottom: .3em;
    
}
.frame-base-right{
    display: flex;
    gap: 1rem;
}

.frame-section1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .4rem;
}



/* withdrawal request end */

/*  tables start*/
.description{
    
}
/* row1 */
.row1{
    display: flex;
    gap: .6rem;
    align-items: center;
}
.check{
    width: 20px;
    height: 20px;  
}
.row1-data{
    width: 190px;
}
.row2-data{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row3-data{
    width: 120px;
    align-items: center;

}
.row4{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.row41{
    display: flex;
    flex-direction: column;
}
.row4 button{
    border-radius: 50%;
    border: none;
    background-color: rgb(231, 130, 163);
    color:purple;
    font-weight: 700;
    height: 30px;
    width: 30px;
}

.row4-data{
    width: 250px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.row5 button{
    font-weight: 800;
    padding: .2rem .5rem;
    border-radius: 20px;
    border: none;
    background-color: lightgreen;
    color: green;
    display: flex;
    align-items: center;
    

}
.row5-data{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row6 button{
    padding: .5rem .8rem;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(240, 239, 239);
}
.row6 i{
    color: rgb(224, 220, 220);
}

.row6-data{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}
tr{
    display: flex;
    padding: .4rem;
    background-color: white;
}
td{
    width: 180px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid gainsboro;
    padding-bottom: .7rem;
    padding: .1rem .5rem;
    padding-bottom: .5rem;
    
}

th{
    border: 2px solid none;
    width: 180px;
}
.row1-head{
    width: 250px;
    display: flex;
    justify-content: left;
}
.row2-head{
    width: 130px;
    display: flex;
    justify-content: left;
}
.row3-head{
    width: 130px;
    display: flex;
    justify-content: left;
}
.row5-head{
    width: 140px;
    display: flex;
    justify-content: right;
}
.table-head{
    border-bottom: 2px solid gainsboro;
}
.description{
    padding-bottom: .5rem;
}

/*  tables end*/